#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #00a4e3;
  background-color: #222222;
}

.btn {
  background: #00a4e3;
}

.btn:hover {
  background-color: #e6ecf0 ;
}

.btn:active {
  background-color: #00a4e3;
}

a {
  color: #00a4e3 ;
}

a:hover {
  color: #e6ecf0;
}

@media (max-width: 576px) {
  .card-columns {
      padding: 4rem;
      column-count: 2;
  }
}