#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #00a4e3;
  background-image: url(https://p4.wallpaperbetter.com/wallpaper/579/500/840/logo-shield-argentine-soccer-racing-club-wallpaper-preview.jpg);
}

.btn {
  background: #00a4e3;
}

.btn:hover {
  background-color: #e6ecf0 ;
}

.btn:active {
  background-color: #00a4e3;
}

a {
  text-decoration: none;
  color: #00a4e3 ;
}

a:hover {
  color: #e6ecf0;
}

@media (max-width: 576px) {
  .card-columns {
      padding: 4rem;
      column-count: 2;
  }
}

#form{
  margin-top:90px;
}